gitignore.io help:
  list    - lists the operating systems, programming languages and IDE input types
  :types: - creates .gitignore files for types of operating systems, programming languages or IDEs
nbproject/private/config.properties
nbproject/private/private.properties
nbproject/private/private.xml
nbproject/project.properties
nbproject/project.xml

*_full.zip
ru-RU.ini
yandex.php
product_edit.zip
*_1.zip
_*.zip
_*.php
*_1.php
*_2.php
index.php
placebilet/
ext_statistics/
statistics/
ext_PlaceBilet_statistics_.zip
ext_PlaceBilet_statistics.zip
ext_PlaceBilet_statistics_*.zip